
#navitem1{
  color: #323f4b; 
  font-family: roboto;
}

#navitem2{
  color: #323f4b; 
  font-family: roboto;
}

#navitem3{
  color: #323f4b; 
  font-family: roboto;
}

#navitem4{
  color:  red; 
  font-family: roboto;
}
.food-munch-image{
  width: 80px;
  height: 70px;
}

